<div class="contenedor"> 
    <h3 class="my-3 text-center">Developers</h3>

    <div class="subcontenedor d-flex justify-content-center">
    <div class="card" style="width: 90%;">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMEdk-d__OMzPgj15KqdyjOQacjonYA0qvVwkYmqOGQvVQw28LBj6VxVtMgkytHmwTObs&usqp=CAU" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Isabella Perdomo</h5>
          <p class="card-text">Estudiante del CSMA desde hace 3 años, de la prom 2023, excelente estudiante con un promedio de 9,5, excelente estudiante en todas las áreas.</p>
     
        </div>
    </div>
    </div>
    <div class="subcontenedor d-flex justify-content-center">
        <div class="card" style="width: 90%;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa8iFbvzw5Yw6eK2KdVzcP80OuGmkNECFvjmDdvM3BYG8MDU0keGcB7Mfo6Wx1yROBH3o&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Celeste Barrera</h5>
              <p class="card-text">Estudiante del CSMA desde hace 3 años, de la prom 2023, excelente estudiante con un promedio de 9,5, excelente estudiante en todas las áreas.</p>
         
            </div>
        </div>
        </div>
        

</div>